/*-------------------------------------------------------------------------------------------*/
/* Meta Boxes Styles */
/*-------------------------------------------------------------------------------------------*/

.meta-box label { width: 20%; }
.meta-box textarea { width: 97%; }
.meta-box input[type="text"] { width: 80%; }
.meta-box input[type="text"].upload, .meta-box p { width: 80%; margin-right: 15px; }
.opacity .meta-box p { opacity: 0.7; }

/*-------------------------------------------------------------------------------------------*/
/* Admin Settings Styles */
/*-------------------------------------------------------------------------------------------*/
.rm_wrap{width:740px;}
.rm_opts label{
	font-size:12px;
	font-weight:700;
	width:200px;
	display:block;
	float:left;	
    margin-top:5px;
}
.rm_input {
	padding:30px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.rm_checkbox  small{
	padding-top:0 !important
}
.rm_opts small{
	display:block;
	float:right;
	width:200px;
	color:#999;
    padding-top:7px;
}
.rm_opts input[type="text"], .rm_opts select, .rm_wrap textarea {
	width:250px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#fff;
    resize:none;
}

.left-bar {width:200px; float:left; position:relative;}
.right-bar {width:490px; height:360px; float:left; text-align:center; position:relative;}
#live-prev {width:490px; height:360px; background-color:#f6f0e4; float:left; border:1px solid #333;}

#site-place {width:250px; height:300px; background:url(../livesettings/img/placeholder.png) no-repeat; margin:30px auto 0;}

.left-bar img{opacity:0.7; background:#fff; width:30px; height:30px; display:block; float:left; border:1px solid #999; margin:0 5px 5px 0; -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.5); box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.5);}
    .left-bar  img:hover{opacity:1.0;}
    .left-bar  a.bgColor{display:block; line-height:20px; font-size:14px; text-decoration:none; font-style:italic; padding:5px 40px 0 0; margin:0px 0 7px; position:relative; clear:both;}
    .left-bar  a.bgColor span{border:1px solid #b7b7b7; width:18px; height:18px; float:right; padding:0; margin:1px 0 0;}
    .left-bar select {width:150px;}
        
    #prev-head p {font-family:Ubuntu; font-size:28px; margin: 23px 0 60px 0;}     
    #prev-content p {font-family:Verdana, Geneva, sans-serif; font-size:28px;}  

    #head-save, #cont-save {margin-top:4px; display:block;}
    #choose-this {display:block; margin-top:390px;}
    
    #reset-all {display:block; margin-top:20px; width:160px;}
    #live-colorpicker {width:182px; margin-left:-1px;}
    
    .informer {position:absolute; left:0; padding:5px; color:#fff; background:#333; opacity:0.9; -webkit-border-radius: 8px; border-radius: 8px;}